* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f7f7f7;
    font-family: "agbalmo", sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
}
strong {
    font-weight: 800;
    color: #83B3A8;
}
#courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 50px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #83B3A8;
    color: #fff;
    border-radius: 5px;
}
#logo {
    font-family: "Koulen", sans-serif;
    font-size: 28px;
    color: black;
}
.links {
    display: flex;
    gap: 25px;
}
.elementos {
    font-family: "agbalmo";
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}
.elementos:hover {
    color: #aaa;
}
.container {
    margin: 40px auto;
    max-width: 1000px;
}
.group-title {
    font-family: "Koulen", sans-serif;
    font-size: 36px;
    color: #222;
    margin-bottom: 0px;
    text-align: center;
}
.sub-logo {
    font-family: "Koulen", sans-serif;
    font-size: 24px;
    color: #222;
}
.sub-title {
    font-family: "Paprika", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    color: #222;
    text-align: center;
}
.group-information {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    /* margin: 20px 0; */
    transition: box-shadow 0.3s ease;
}
.group-information:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
.information {
    font-family: "agbalmo";
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    width: 70%;
    line-height: 1.8;
    color: #222;
}
.byMe {
    margin-top: 50px;
}
.byMe-title {
    font-family: "Koulen", sans-serif;
    font-size: 24px;
    color: #222;
}
.byMe-info {
    display: flex;
    align-items: center;
}
.icon-picture {
    margin-right: 20px;
    width: 40%; 
    height: 10%;
    margin-top: 15px;
    border-radius: 10%;
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
}
.info {
    flex: 1;
    margin-left: 25px;
    font-family: "agbalmo";
    font-size: 18px;
    font-weight: 500;
}
.line {
    width: 65%;
    height: 3px;
    border: 1px solid #83B3A8;
    color: #83B3A8;
    background-color: #83B3A8;
    border-radius: 4px;
    margin-top: 50px;
    margin-bottom: 35px;
    margin-left: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* margin: 20px 0; */
    transition: box-shadow 0.3s ease;
}
.line:hover {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}
.gradute-title {
    font-family: "Koulen", sans-serif;
    font-size: 24px;
    color: #222;
    text-align: right;
}
.university-name {
    font-family: "agbalmo";
    font-size: 20px;
    font-weight: 500;
}
.display-university {
    width: 340px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.university, #date {
    font-family: "agbalmo";
    font-size: 16px;
    font-weight: 700;
}
.course {
    padding-top: 25px;
    font-family: "agbalmo";
    font-size: 16px;
    font-weight: 700;
}
.display-course {
    width: 380px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.display-course-revit {
    width: 390px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.course-name {
    font-family: "agbalmo";
    font-size: 18px;
    font-weight: 500;
}
.course-name:hover {
    color: #83B3A8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#course-name {
    font-family: "agbalmo";
    font-size: 14px;
    font-weight: 700;
}
.projects {
    margin-top: 50px;
}
.project-title {
    font-family: "Koulen", sans-serif;
    font-size: 24px;
    color: #222;
    text-align: center;
}
.display-project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@font-face {
    font-family: "Koulen";
    src: url('../css/Koulen-Regular.ttf');
}
@font-face {
    font-family: "Dosis";
    src: url('../css/Dosis-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: "Paprika";
    src: url('../css/Paprika-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "agbalmo";
    src: url('../css/Dosis-VariableFont_wght.ttf') format('truetype');
}