/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    background-color: #f7f7f7;
    font-family: "agbalmo", sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #83B3A8;
    color: #fff;
    border-radius: 5px;
}

#logo {
    font-family: "Koulen", sans-serif;
    font-size: 28px;
    color: black;
}

.links {
    display: flex;
    gap: 25px;
}

.elementos {
    font-family: "agbalmo";
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.elementos:hover {
    color: #aaa;
}

/* Container */
.container {
    margin: 40px auto;
    max-width: 1000px;
}

/* Titles */
.group-title {
    font-family: "Koulen", sans-serif;
    font-size: 36px;
    color: #222;
    margin-bottom: 0px;
    text-align: center;
}

.sub-logo {
    font-family: "Koulen", sans-serif;
    font-size: 24px;
    color: #222;
}

.sub-title {
    font-family: "Paprika", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    color: #222;
    text-align: center;
}

/* Information Group */
.group-information {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    /* margin: 20px 0; */
    transition: box-shadow 0.3s ease;
}

.group-information:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.information {
    font-family: "agbalmo";
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    width: 70%;
    line-height: 1.8;
    color: #222;
}
/* Fonts */
@font-face {
    font-family: "Koulen";
    src: url('../css/Koulen-Regular.ttf');
}

@font-face {
    font-family: "Dosis";
    src: url('../css/Dosis-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Paprika";
    src: url('../css/Paprika-Regular.ttf') format('truetype');
}



@font-face {
    font-family: "agbalmo";
    src: url('../css/Dosis-VariableFont_wght.ttf') format('truetype');
}